body{
    background:url(./imagenes/FONDO.PJG.png);
}
body>table{
    width: 90%;
    border-spacing: 20px;
    
}
.mainTable{
    width: 100%;
    border-collapse: collapse;
}
tr:nth-child(even),table.mainTable thead>tr{
    background-color: #dddddd;
    border-color: white;
}
table.mainTable tbody>tr:nth-child(odd){
    background-color: white;
}
td,th{
    border: 2px solid #dddddd;
    padding: 10px;
}
input[type=text],input[type=number]{
    width: 100%;
    padding: 12px 10px;
    margin-bottom:10px;
    box-sizing: border-box;
    border: 1px solid orange;
    border-radius: 15px;
}
input[type=submit]{
    width: 30%;
    padding: 5px 15px;
    box-sizing: border-box;
    color: hsl(0, 0%, 100%);
    background-color: orange;
    border: none;
    border-radius: 15px;
}
.button{
    text-align: center;
}
a{
    color: blue;
    margin-left: 15px;
    text-decoration: underline;
    cursor: pointer;
}
.classValidate{
    color: red;
    margin-left: 5px;
}
.hide{
    display: none;
}
label{
    color: white;

    
}
html, body{
    height: 100%;
    font-weight: 800;
    margin: 0;
    padding: 0;
  }
  
  body{
    background: #030321;
    font-family: Arial;
  }
  
  .container {
    display: flex;
  /*   border:1px solid red; */
    height: 100%;
    align-items: center;
  }
  
  svg {
      display: block;
      font: 10.5em 'Montserrat';
      width: 960px;
      height: 300px;
      margin: 0 auto;
  }
  
  .text-copy {
      fill: none;
      stroke: white;
      stroke-dasharray: 6% 29%;
      stroke-width: 5px;
      stroke-dashoffset: 0%;
      animation: stroke-offset 5.5s infinite linear;
  }
  
  .text-copy:nth-child(1){
      stroke: #4D163D;
      animation-delay: -1;
  }
  
  .text-copy:nth-child(2){
      stroke: #840037;
      animation-delay: -2s;
  }
  
  .text-copy:nth-child(3){
      stroke: #BD0034;
      animation-delay: -3s;
  }
  
  .text-copy:nth-child(4){
      stroke: #BD0034;
      animation-delay: -4s;
  }
  
  .text-copy:nth-child(5){
      stroke: #FDB731;
      animation-delay: -5s;
  }
  
  @keyframes stroke-offset{
      100% {stroke-dashoffset: -35%;}
  }
  html,body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, Sans-serif;
    background-color: #070617;
  }
  .dummy_page {
    height: 200px;
    width: 100%;
    background-color: #f0f0f0;
    text-align: center;
    box-sizing: border-box;
    padding: 60px 0px;
  }
  /* STYLES SPECIFIC TO FOOTER  */
  .footer {
    width: 100%;
    position: relative;
    height: auto;
    background-color: #070617;
  }
  .footer .col {
    width: 190px;
    height: auto;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0px 20px 20px 20px;
  }
  .footer .col h1 {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 12px;
    line-height: 17px;
    padding: 20px 0px 5px 0px;
    color: rgba(255,255,255,0.2);
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.250em;
  }
  .footer .col ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .footer .col ul li {
    color: #999999;
    font-size: 14px;
    font-family: inherit;
    font-weight: bold;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
  }
  .social ul li {
    display: inline-block;
    padding-right: 5px !important;
  }
  
  .footer .col ul li:hover {
    color: #ffffff;
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
  }
  .clearfix {
    clear: both;
  }
  @media only screen and (min-width: 1280px) {
    .contain {
      width: 1200px;
      margin: 0 auto;
    }
  }
  @media only screen and (max-width: 1139px) {
    .contain .social {
      width: 1000px;
      display: block;
    }
    .social h1 {
      margin: 0px;
    }
  }
  @media only screen and (max-width: 950px) {
    .footer .col {
      width: 33%;
    }
    .footer .col h1 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
  }
  @media only screen and (max-width: 500px) {
      .footer .col {
        width: 50%;
      }
      .footer .col h1 {
        font-size: 14px;
      }
      .footer .col ul li {
        font-size: 13px;
      }
  }
  @media only screen and (max-width: 340px) {
    .footer .col {
      width: 100%;
    }
  }

  @media screen and (max-width: 1700px){

    .container__cover{
        background-position: 50%;
    }

}

@media screen and (max-width:1200px){

    header{
        padding: 40px;
    }

    .container__cover{
        background-position: -100px;
    }

    .container__cover .svg img{
        width: 500px;
    }

}

@media screen and (max-width: 1020px){

    .container__cover{
        background-image: url("");
        background-color: #FD8986;
    }

    .container__cover .svg img{
        display: none;
    }

    .container__cover .text{
        max-width: 600px;
    }

}

@media screen and (max-width: 720px){

    .menu nav{
        position: fixed;
        top: 0;
        right: -250px;
        background: white;
        width: 250px;
        height: 100vh;
        padding: 40px;
        z-index: 1;
        transition: all 300ms;
    }

    .menu ul{
        flex-direction: column;
        margin-top: 40px;
    }

    .menu ul li{
        margin-top: 30px;
        margin-left: 0;
    }

    .menu ul li a{
        color: #bebebe;
    }

    #selected{
        background: none;
        padding: 0px;
        border-radius: none;
        color: #F6615D;
    }

    .menu nav img{
        display: block;
        width: 60px;
    }

    #back_menu{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0,0,0,0.5);
        display: none;
    }

    .menu #btn_menu{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        background: rgba(255, 255, 255, 0.1);
        font-size: 24px;
        border-radius: 50px;
        cursor: pointer;
        transition: all 300ms;
    }

    .menu #btn_menu:hover{
        background: rgba(255, 255, 255, 0.2);
    }
}
/* Diseño para celulares */
#columna1, #columna2, #columna3 {
	float:none;
	width:100%;
}

/* Diseño para tabletas */ 
@media screen and (min-width: 800px) {
	#columna1, #columna2 {
		float:left;
		width:50%;
	}
}

/* Diseño para PC */ 
@media screen and (min-width: 1025px) {
	#columna1, #columna2, #columna3 {
	float:left;
	width:33%;
}
}